*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #ced7ff;
}

main{
    margin: 80px 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section{
    display: flex;
    column-gap: 100px;
}

section div{
    display: flex;
    flex-flow: column nowrap;
}

h1{
    font-size: 3rem;
    font-family: monospace;
    -webkit-text-stroke: 2px black;
    color: white;
    width: 320px;
}

.r-span{
    display: inline-block;
    animation: to-right 0.3s ease-in-out 0s 1 normal forwards;
    width: 105px;
}

.l-span{
    display: inline-block;
    animation: to-left 0.3s ease-in-out 0s 1 normal forwards;
    width: 132px;
}

/* @keyframes to-right {
    from{
        margin-left: -50px;
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
} */



label{
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: bold;
}

textarea{
    border-radius: 10px;
    border: 2px solid black;
    margin: 5px 0 20px 0;
    padding: 10px;
    font-size: 1.1rem;
    font-family: monospace;
}

.splitted{
    min-width: 500px;
    min-height: 350px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.splitted div{
    padding: 10px;
    font-size: 1.1rem;
    font-family: monospace;
}

.btn-split{
    width: 140px;
    background-color: #ffbaba;
    margin-right: 50px;
    transition: letter-spacing 0.2s linear 0s;
}

.btn-split:hover{
    letter-spacing: 2px;
}

.btn-join{
    width: 140px;
    background-color: #aaffaa;
    transition: letter-spacing 0.2s linear 0s;
}

.btn-join:hover{
    letter-spacing: normal;
}

.btn-action{
    border: 2px solid yellow;
    background-color: #ffffd9;
    min-width: 140px;
    max-width: 280px;
}

.btn-action:hover{
    background: #ffffd9 url('/images/stars.gif') center no-repeat;
}

button{
    font-family: monospace;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: transparent;
    padding: 8px 0;
    border-radius: 22px;   
}

button:hover{
    cursor: pointer;
}

.row{
    width: 3px;
    height: 100%;
    background-color: black;
    align-self: center;
}